<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <!-- Top Bar -->
    <nav class="topbar">
        <div class="container">
            <div class="site-title">
                <a href="#">Address Manager</a>
            </div>
            <div class="site-nav">
                <div class="site-nav__item">
                    <a href="#">Add New Address</a>
                </div>
                <div class="site-nav__item">
                    <a href="#">Address List</a>
                </div>
                <div class="site-nav__item">
                    <a href="#">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <header class="site-banner">
        <div class="container">
            <h1 class="site-banner__title">This will help you manage your addresses</h1>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="row">
                <h2 class="content__title col-12">Address List</h2>
                <ul class="address col">
                    <li class="address__item">
                        <div class="card">
                            <div class="card-header">
                              <span class="address__ord">1</span>
                              <div class="address__action">
                                <div class="btn-group">
                                    <button class="btn btn-outline-info"><i class="fa fa-pencil"></i>Edit</button>
                                    <button class="btn btn-outline-danger"><i class="fa fa-close"></i>Delete</button>
                                </div>
                              </div>
                            </div>
                            <div class="card-body">
                            <div class="address__img">
                                <img src="http://placehold.it/700x400" alt="">
                            </div>
                            <div class="address__info">
                                <div class="d-block w-100 street"><span>Name: </span> 13A Đinh Tiên Hoàng</div>
                                <div class="d-inline-block w-50 ward"><span>Ward: </span> P.14</div>
                                <div class="d-inline-block w-50 district"><span>District: </span> Bình Thạnh</div>
                                <div class="d-inline-block w-50 city"><span>City: </span> Hồ Chí Minh</div>
                                <div class="d-inline-block w-50 country"><span>Country: </span> Việt Nam</div>
                            </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="add col-4">
                    <h3 class="add__title">Add New Address</h3>
                    <form>
                        <div class="form-group">
                          <label for="nameInput">Name</label>
                          <input type="text" class="form-control" id="nameInput">
                        </div>
                        <div class="form-group">
                            <label for="countryInput">Country</label>
                            <input type="text" class="form-control" id="countryInput">
                          </div>
                          <div class="form-group">
                            <label for="cityInput">City</label>
                            <input type="text" class="form-control" id="cityInput">
                          </div>
                          <div class="form-group">
                            <label for="districtInput">District</label>
                            <input type="text" class="form-control" id="districtInput">
                          </div>
                          <div class="form-group">
                            <label for="wardInput">Ward</label>
                            <input type="text" class="form-control" id="wardInput">
                          </div>
                        <button type="submit" class="btn btn-primary">Add New</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end Top Bar -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>