@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");
body {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none !important;
}

button.btn.btn-edit {
  color: #eee;
  border-color: #eee;
}

button.btn.btn-delete {
  color: #A13666;
  border-color: #eee;
  background-color: #eee;
}

nav.topbar {
  padding: 10px 0;
  background: #17a2b8;
  color: #fff;
  -webkit-box-shadow: 0px 0px 15px -5px #333;
          box-shadow: 0px 0px 15px -5px #333;
}

nav.topbar a {
  color: #fff;
}

nav.topbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.topbar .container .site-title {
  padding-left: 40px;
  background: url(/images/address.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

nav.topbar .container .site-title a {
  font-size: 20px;
  text-transform: uppercase;
}

nav.topbar .container .site-nav .site-nav__item {
  display: inline-block;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #53baca;
}

nav.topbar .container .site-nav .site-nav__item:first-child {
  border-left: none;
}

nav.topbar .container .site-nav .site-nav__item.add-new a {
  background: #fff;
  color: #17a2b8;
  padding: 5px 15px;
  border-radius: 3px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav.topbar .container .site-nav .site-nav__item.add-new a:hover {
  border: 1px solid #fff;
  color: #fff;
  background: none;
}

header.site-banner {
  height: 30vh;
  background: url("/images/banner.jpg") center center no-repeat;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.content {
  padding: 70px 0;
  min-height: 70vh;
  background: #f2f2f2;
}

.content h2.content__title {
  font-size: 32px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.content .address {
  list-style: none;
  margin-bottom: 0;
}

.content .address__item .card {
  margin-bottom: 20px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.content .address__item .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .address__item .card .card-header .btn-group:hover {
  -webkit-box-shadow: 0px 0px 15px -5px #333;
          box-shadow: 0px 0px 15px -5px #333;
}

.content .address__item .card:hover {
  -webkit-box-shadow: 0px 0px 15px -5px #333;
          box-shadow: 0px 0px 15px -5px #333;
}

.content .address__item:last-child .card {
  margin-bottom: 0;
}

.content .address__item .address__ord {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #eee;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #0a454d;
}

.content .address__item .address__img img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .address__item .address__info {
  margin-top: 20px;
}

.content .address__item .address__info div {
  margin-bottom: 10px;
  height: 24px;
  overflow: hidden;
  float: left;
  padding-right: 5px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.content .address__item .address__info div span {
  color: #0a454d;
  font-weight: 600;
}

.address__item:nth-child(4n+1) .card {
  border-color: #17A2B8;
}

.address__item:nth-child(4n+1) .card .card-header {
  background-color: #17A2B8;
}

.address__item:nth-child(4n+2) .card {
  border-color: #A13666;
}

.address__item:nth-child(4n+2) .card .card-header {
  background-color: #A13666;
}

.address__item:nth-child(4n+3) .card {
  border-color: #0a454d;
}

.address__item:nth-child(4n+3) .card .card-header {
  background-color: #0a454d;
}

.address__item:nth-child(4n+4) .card {
  border-color: #944F91;
}

.address__item:nth-child(4n+4) .card .card-header {
  background-color: #944F91;
}

.add {
  border: 1px solid #444;
  border-radius: 0.25rem;
  overflow: hidden;
}

.add h3.add__title {
  padding: 0.75rem 1.25rem;
  background-color: #444;
  color: #fff;
  font-size: 20px;
}

.add form {
  padding: 0.75rem 1.25rem;
  padding-bottom: 1.5rem;
}

.add form img {
  height: 100px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background: #0a454d;
}
/*# sourceMappingURL=App.css.map */