a {
  text-decoration: none !important;
}

nav.topbar {
  padding: 10px 0;
  background: #17a2b8;
  color: #fff;
  -webkit-box-shadow: 0px 0px 13px -7px #333;
          box-shadow: 0px 0px 13px -7px #333;
}

nav.topbar a {
  color: #fff;
}

nav.topbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.topbar .container .site-title a {
  font-size: 20px;
  text-transform: uppercase;
}

nav.topbar .container .site-nav .site-nav__item {
  display: inline-block;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #53baca;
}

nav.topbar .container .site-nav .site-nav__item:first-child {
  border-left: none;
}

header.site-banner {
  height: 30vh;
  background: url("/images/banner.jpg") center center no-repeat;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.content {
  padding: 70px 0;
}

.content h2.content__title {
  font-size: 32px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.content .address {
  list-style: none;
  margin-bottom: 0;
}

.content .address__item .card {
  margin-bottom: 20px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.content .address__item .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .address__item .card:hover {
  -webkit-box-shadow: 0px 0px 13px -7px #333;
          box-shadow: 0px 0px 13px -7px #333;
}

.content .address__item:last-child .card {
  margin-bottom: 0;
}

.content .address__item .address__ord {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #0a454d;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.content .address__item .address__img {
  width: 30%;
  float: left;
}

.content .address__item .address__img img {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .address__item .address__info {
  width: 70%;
  float: left;
  padding-left: 30px;
}

.content .address__item .address__info div {
  margin-bottom: 20px;
}

.content .address__item .address__info div span {
  color: #0a454d;
  font-weight: 600;
}

.address__item:nth-child(4n+1) .card {
  border-color: #3ACEAD;
}

.address__item:nth-child(4n+2) .card {
  border-color: #78E098;
}

.address__item:nth-child(4n+3) .card {
  border-color: #B6EF81;
}

.address__item:nth-child(4n+4) .card {
  border-color: #00B9B9;
}

.add {
  border: 1px solid #dfdfdf;
  border-radius: 0.25rem;
  overflow: hidden;
}

.add h3.add__title {
  padding: 0.75rem 1.25rem;
  background-color: #17a2b8;
  color: #fff;
  font-size: 20px;
}

.add form {
  padding: 0.75rem 1.25rem;
}

footer {
  background: #0a454d;
}
/*# sourceMappingURL=App.css.map */